* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
}
li {
  list-style: none;
}

// navbar
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 10px 10px 0 10px;
  background-color: white;
  border-bottom: 1px solid lightgray;
  z-index: 5;
  .logo {
    font-size: 42px;
  }
  .navbar__center {
    display: flex;
    align-items: center;
    flex: 1 0 0;
    margin-left: 14px;
    li {
      padding: 0 10px;
      font-size: 18px;
    }
  }
  .navbar__right {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      padding: 0 10px;
      font-size: 18px;
    }
  }
}

// HOME
.home__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100vh;
  .home__men {
    position: relative;
    h2 {
      position: absolute;
      top: 40px;
      left: 20px;
    }
  }
  .home__women {
    position: relative;
    h2 {
      position: absolute;
      top: 40px;
      left: 20px;
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
}
